- hosts: member-master
  become: true
  gather_facts: true
  tasks:
    - name: Generated token to join master.
      local_action: shell sed -n 83,85p /tmp/kubeadm-init.out > /tmp/mastertoken

    - name: Copy master token
      copy:
        src: /tmp/mastertoken
        dest: /tmp/join-command
        owner: root
        group: root
        mode: '0777'

    - name: Add new Kubernetes master member
      command: sh /tmp/join-command

    - name: make directory and copy required file to it
      shell: |
        sudo su -c 'mkdir -p $HOME/.kube' ubuntu
        sudo su -c 'sudo cp -f /etc/kubernetes/admin.conf $HOME/.kube/config' ubuntu
        sudo su -c 'sudo chown $(id -u):$(id -g) $HOME/.kube/config' ubuntu

- hosts: worker-nodes
  become: true
  gather_facts: true
  tasks:
    - name: Generated token to join worker.
      local_action: shell sed -n 93,94p /tmp/kubeadm-init.out > /tmp/workertoken

    - name: Copy worker token
      copy:
        src: /tmp/workertoken
        dest: /tmp/join-command
        owner: root
        group: root
        mode: '0777'

    - name: Add new Kubernetes worker member
      command: sh /tmp/join-command