---
- name: Deploy Microservices Application to prod Environment
  hosts: haproxy-1
  become: true

  vars:
    app_repo_url: "https://github.com/CloudHight/US-Team-Sock-Shop-App-Repo.git"
    app_repo_path: "/home/ubuntu/US-Team-Sock-Shop-App-Repo"
    deploy_path: "/home/ubuntu/US-Team-Sock-Shop-App-Repo/deploy/kubernetes"
    kubeconfig_path: "/home/ubuntu/.kube/config"

  tasks:

    - name: Ensure application repository is up-to-date
      git:
        repo: "{{ app_repo_url }}"
        dest: "{{ app_repo_path }}"
        version: eu-team-1
        force: yes

    - name: Delete previous prod deployment (safe delete)
      command: kubectl delete -f prod-complete.yaml --ignore-not-found=true
      args:
        chdir: "{{ deploy_path }}"
      environment:
        KUBECONFIG: "{{ kubeconfig_path }}"

    - name: Apply new prod deployment
      command: kubectl apply -f prod-complete.yaml
      args:
        chdir: "{{ deploy_path }}"
      environment:
        KUBECONFIG: "{{ kubeconfig_path }}"

   